<div id="navigation-bar">
  <ul>
    <li><a class="content-toggle" href="#">Content</a></li>
    <li><a class="dev-toggle" href="#">Development</a></li>
  </ul>
</div>

<!-- Left Margin -->
<div class="col-md-1" id="left-margin">
</div>

<div class="col-md-2">
</div>

<!-- Container for "about me" box -->
<div class="col-md-2" id="about-me">
  <p class="name">
    Brennan<br />
    Gamwell
  </p>
  <p>
    Web Developer & Senior<br />
    Content Strategist
  </p>
  <p class="social-buttons">
    <a href="https://www.github.com/bgamwell" target="_blank" class="btn btn-social-icon btn-github" id="github-icon">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.twitter.com/bgamwell" target="_blank" class="btn btn-social-icon btn-twitter" id="twitter-icon">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/brennangamwell" target="_blank" class="btn btn-social-icon btn-linkedin" id="linkedin-icon">
      <i class="fa fa-linkedin"></i>
    </a>
  </p>
  <p class="bio">
    I'm an entrepreneurial full-stack web developer specializing in Javascript and Rails. I'm also a Senior Content Strategist.
    <br />
    <br />
    I get excited about information accessibility, user-centric design, APIs, relational databases, data science - and the stories we can tell based on data.
    <br />
    <br />
    <a href="https://github.com/bgamwell/portfolio-rails" target="_blank">
      Oh, and yeah, I built this blog myself in Ruby on Rails. ;-)
    </a>
  </p>
</div>

<!-- Margin column between about box and content -->
<div class="col-md-1" id="margin">
</div>

<div id="content-body">

  <!-- Container for all posts -->
  <div class="col-md-7 content">

    <% @posts.each do |post| %>

      <div class="post">

        <h1>
          <%= post.title %> <span class="source"> // <%= post.source %> </span>
        </h1>

        <p>
          <span class="date-published"><%= post.date_published %></span>
        </p>

        <p class="synopsis">
          <%= post.synopsis %> <strong> <%= link_to "Read more [...]", post.URL, :target => "_blank"  %></strong>
        </p>

      </div>

      <% if current_user %>
        <p class="btn btn-default edit"> <%= link_to "Edit", edit_post_path(post) %> </p>
        <p class="btn btn-default delete"> <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure you'd like to delete this post?"} %> </p>
      <% end %>

      <hr>

    <% end %>

  </div>

  <!-- Container for all dev portfolio projects -->
  <div class="col-md-7 dev hidden">

    <h1>
      Looking For Now
      <a href="https://github.com/bgamwell/last-call-ionic" target="_blank" class="btn btn-social-icon btn-github" id="github-icon">
        <i class="fa fa-github"></i>
      </a>
    </h1>
    <p>
      Looking For Now solves a problem everyone has: Where do I get a drink <em>right now</em>? This mobile-first app visualized bars in your area that are open right now--eliminating the need to open up heavier apps like Yelp or Google Maps and filter results.
    </p>

    <hr>

    <h1>
      Simplify Local
      <a href="https://github.com/zoejf/simplify-local" target="_blank" class="btn btn-social-icon btn-github" id="github-icon">
        <i class="fa fa-github"></i>
      </a>
    </h1>
    <p>
      Web application utilizing geo-location to allow users to discover and patronize small businesses in their current vicinity. One of six finalists in the MasterCard Masters of Code Hackathon: San Francisco. <a href="http://simplifylocal.herokuapp.com/" target="_blank">Live preview [...]</a>
    </p>

    <hr>

    <h1>
      Everest
      <a href="https://github.com/bgamwell/everest_app" target="_blank" class="btn btn-social-icon btn-github" id="github-icon">
        <i class="fa fa-github"></i>
      </a>
    </h1>
    <p>
      A web app where users can create a mapped route based on elevation and slope. Users can choose between different modes of transportation and measurement while also customizing their slope and elevation on the created route. This app allows users to save and edit their routes from a database while also sharing on social media. <a href="https://everest-app.herokuapp.com/" target="_blank">Live preview [...]</a>
    </p>

    <hr>

    <h1>
      Dayly
      <a href="https://github.com/bgamwell/dayly-app" target="_blank" class="btn btn-social-icon btn-github" id="github-icon">
        <i class="fa fa-github"></i>
      </a>
    </h1>
    <p>
      Dayly is an app that gets rid of the number one excuse behind not keeping a daily log or diary: time. Dayly challenges users to record their day's activities in 60 characters or fewer. <a href="https://dayly-app.herokuapp.com/" target="_blank">Live preview [...]</a>
    </p>

  </div>

</div>

<!-- Right Margin -->
<div class="col-md-1" id="right-margin">
</div>

<!-- Footer -->
<div id="footer">
  <% if current_user %>
    <p> Welcome, <%= current_user.email %>! | <%= link_to "Sign Out", logout_path %> </p>
  <% else %>
    <p>(c)2015 by Brennan Gamwell. Made with love in downtown San Francisco.</p>
  <% end %>
</div>
